{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/corps.css') }}" rel="stylesheet">
    <style>
        .carrouselContainer{
            border-radius: 25px;
            background-color: rgba(255, 255, 255, 0.663);
            padding: 25px;
            color: black;
            max-height: 387px;
}
    </style>
{% endblock %}

{% block body %}
<main>
    {% include 'index/carousel.html.twig' %}
    <div class="album pt-5 bg-body-tertiary">
        <div class="pdg-btm container">
            <h1 class="titre_actu mt-4">L'essentiel de l'actualité</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for article in lastArticles %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <small class="text-categorie">{{ article.getCategoriesString() }}</small>
                                <p class="card-text"><a href="{{ path('show_article', {'id' : article.id}) }}">{{ article.titre }}</a></p>
                                <p class="card-text">{{ article.corps|slice(0, 100) ~ '...' }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('show_article', {'id' : article.id}) }}">Ouvrir</a></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Partager</button>
                                    </div>
                                    <small class="text-body-secondary">Publié {{ article.getCreatedAt()|date("d/m/Y") }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr/>

    <div class="mtp-ressources album pt-5 bg-body-tertiary">
        <div class="pdg-btm container">
            <h1 class="titre_actu mt-4">Ressources récentes</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for ressource in lastRessources %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <small class="text-categorie">{{ ressource.article.getCategoriesString() }}</small>
                                <p class="card-text"><a href="{{ path('show_article', {'id' : ressource.article.id}) }}">{{ ressource.titre }}</a></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('show_article', {'id' : ressource.article.id}) }}">Ouvrir</a></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Partager</button>
                                    </div>
                                    <small class="text-body-secondary">Publié {{ ressource.getCreatedAt()|date("d/m/Y") }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
