<!DOCTYPE html>
<html lang="fr" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Page d'accueil de la plateforme">
        <title>(RE)Sources Relationnelles</title>

        <!-- Feuilles de styles -->
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <link rel="stylesheet" href="{{ asset('css/headerXfooter.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- Scripts -->
        <script src="{{ asset('js/color-modes.js') }}"></script>
        <script src=".{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'footer.html.twig' %}
    </body>
</html>
