{% extends 'base.html.twig' %}

{% block title %}Article - Consultation{% endblock %}

{% block stylesheets %}
  {# <link rel="stylesheet" href="{{ asset('css/blog.css') }}" /> #}
{% endblock %} 

{% block body %}
  <article class="blog-post" style="padding: 15px">
    <!-- Titre de la ressource -->
    <div class="container"><div class="d-flex justify-content-between">
      <h2 class="display-5 link-body-emphasis mb-1">{{ article.titre }}</h2>
      <button class="btn btn-primary" style="max-height: 40px;" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 1 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </button>
    </div>
    <div class="collapse pb-4 pt-2" id="collapseExample">
      <!-- Options supplémentaires -->
      <button class="btn btn-outline-light btn-sm">
        {% if app.user.getFavories().toArray()|filter(v => v.article.id == article.id) | length == 0 %}
          <a href="{{ path('add_favorie_article', {'id': article.id}) }}" class="d-flex text-decoration-none text-reset">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-right:15px" width="24" height="24" fill="currentColor"
              class="bi bi-bookmark-heart-fill text-danger d-block mb-1 mr-2" viewBox="0 0 16 16">
              <path
                d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
            </svg>
            Ajouter aux favoris
          </a>
        {% else %}
          <a href="{{ path('delete_favorie_article', {'id': article.id}) }}" class="d-flex text-decoration-none text-reset">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-right:15px" width="24" height="24" fill="currentColor"
              class="bi bi-bookmark-heart-fill text-danger d-block mb-1 mr-2" viewBox="0 0 16 16">
              <path
                d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
            </svg>
            Supprimer des favoris
          </a>
        {% endif %}
      </button>
      
      <button class="btn btn-outline-light d-flex btn-sm mt-2"> 
        {% if app.user.getEnAttentes().toArray()|filter(v => v.article.id == article.id) | length == 0 %}
          <a href="{{ path('add_en_attente_article', {'id': article.id}) }}" class="d-flex text-decoration-none text-reset">
            <svg xmlns="http://www.w3.org/2000/svg" width="24"style="margin-right:15px" height="24" fill="currentColor" class="bi bi-bookmark-star-fill d-block mb-1 mr-2" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098z" />
            </svg>
            Ajouter à exploiter
          </a>
        {% else %}
          <a href="{{ path('delete_en_attente_article', {'id': article.id}) }}" class="d-flex text-decoration-none text-reset">
            <svg xmlns="http://www.w3.org/2000/svg" width="24"style="margin-right:15px" height="24" fill="currentColor" class="bi bi-bookmark-star-fill d-block mb-1 mr-2" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098z" />
            </svg>
            Supprimer à exploiter
          </a>
        {% endif %}
      </button>
        <hr>
    </div>
    <!-- Métadonnées -->
    <p class="blog-post-meta">Publié le {{ article.getDate() }} par <a href="article.">{{ article.getPseudoAuteur() }}</a></p>

    <!-- Contenu principal -->
    <p>
      {{ article.corps|nl2br }}
    </p>
    {% if app.user.id == article.getIdAuteur %}
      <button type="button" class="btn btn-danger" onclick="confirmDelete({{ article.id }})">Supprimer</button>
    {% endif %}

    {% if article.getRessources|length > 0 %}
      <a class="btn btn-primary" href="{{ path('download_file', {'id': article.id}) }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
        </svg>
        {% if article.getRessources|length > 1 %}
          Télécharger les ressources
        {% else %}
          Télécharger la ressource
        {% endif %}
      </a>
    {% endif %}
    <hr />
    {% if commentairesParent is not empty %}
    <div class="container">
    <div class="mt-5">
      <h2>Commentaires</h2>
      {% if commentairesParent is not empty %}
        {% for commentairesP in commentairesParent %}
          <div class="comment border p-3 mb-2 d-flex">
            <div>
              <p><strong>{{ commentairesP.user.getPseudo() }}</strong> a dit :</p>
              <p>{{ commentairesP.contenu }}</p>
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="d-flex justify-content-between align-items-center pb-2">
                  <p class="text-muted align-items-center mb-0">{{ commentairesP.getDate() }}</p>
                  <button type="button" class="btn btn-primary mt-3" data-button="{{ commentairesP.getId() }}" data-token="{{ reponse_form_token }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left"
                      viewBox="0 0 16 16">
                      <path
                        d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z">
                      </path>
                    </svg>
                  </button>
                </div>
              {% endif %}

              <!-- Réponse à Commentaire -->
              {% if commentairesEnfant is not empty %}
                {% for commentairesE in commentairesEnfant %}
                  {% if commentairesE.getParent() is same as (commentairesP.getId()) %}
                    <div class="comment border mb-2 p-3 ml-3">
                      <p><strong>{{ commentairesE.user.getPseudo() }}</strong> a répondu :</p>
                      <p>{{ commentairesE.contenu }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="text-muted align-items-center mb-0">{{ commentairesE.getDate() }}</p>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
  {% endif %}

      <!-- Ajouter un nouveau commentaire -->
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="comment border p-3 mb-2">
          <div class="p-3 mb-2">
            <h3>Ajouter un commentaire</h1>
            <div class="form-group">
              {{ form_start(form) }}
                  {{ form_row(form.contenu) }}
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
                  </div>
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/commentaire_reponse.js') }}"></script>
  <script src="{{ asset('js/article/delete.js') }}"></script>
{% endblock %}
