{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" />
{% endblock %}
    
{% block javascripts %}
    <script src="{{ asset('js/profil.js') }}"></script>        
{% endblock %}

{% block body %}
    <hr/>
        <div class="px-3 py-2 text-bg-dark border-bottom">
            <div class="container">
                <div class="row justify-content-center text-center  "> <!-- Ajout de la classe text-center -->
                    <div class="col-12">
                        <ul class="nav d-flex flex-column text-small">
                            <li class="nav-item">
                                <a onclick="navigateToSection('dashboard')" class="nav-link text-white">
                                <div class="d-flex align-items-center justify-content-evenly">
                                    <div class="d-flex align-items-center">
                                    <svg class="bi d-block mb-1" width="24"  style="margin-right:15px" height="24"><use xlink:href="#speedometer2"/></svg>
                                    <span>Tableau de bord</span>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="navigateToSection('favorites')" class="nav-link text-white">
                                <div class="d-flex align-items-center justify-content-evenly">
                                    <div class="d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg"  style="margin-right:15px" width="24" height="24" fill="currentColor" class="bi bi-bookmark-heart-fill text-danger d-block mb-1 mr-2" viewBox="0 0 16 16">
                                        <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                    </svg>
                                    <span>Ressources en favorites</span>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="navigateToSection('toConsult')" class="nav-link text-white">
                                <div class="d-flex align-items-center justify-content-evenly">
                                    <div class="d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" style="margin-right:15px"  height="24" fill="currentColor" class="bi bi-bookmark-star-fill d-block mb-1 mr-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098z"/>
                                    </svg>
                                    <span>Ressources à consulter</span>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="navigateToSection('myArticles')" class="nav-link text-white">
                                <div class="d-flex align-items-center justify-content-evenly">
                                    <div class="d-flex align-items-center">
                                    <svg class="bi d-block mb-1"  style="margin-right:15px" width="24" height="24"><use xlink:href="#grid"/></svg>
                                    <span>Mes articles</span>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="navigateToSection('account')" class="nav-link text-white">
                                <div class="d-flex align-items-center justify-content-evenly">
                                    <div class="d-flex align-items-center">
                                    <svg class="bi d-block mb-1" style="margin-right:15px" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                                    <span>Mon profil</span>
                                    </div>
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-- ---------- MAIN ---------- --> 
        <main>
        <h1 class="display-flex align-items-center">Votre compte</h1>
            <divcl ass="row mb-2">
                <div id="dashboard" class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">Tableau de bord</h3>
                        <div class="mt-3">
                            <table class="table">
                                <tbody>
                            <tr>
                            <td>Ressources favorites</td>
                            <td><span id="favCount">15</span></td>
                            </tr>
                        <tr>
                        <td>Ressources à exploiter</td>
                        <td><span id="exploreCount">10</span></td>
                        </tr>
                        <tr>
                        <td>Ressources publiées</td>
                        <td><span id="publishedCount">25</span></td>
                        </tr>
                        <tr>
                        <td>Ressources en attente</td>
                        <td><span id="pendingCount">5</span></td>
                        </tr>
                        <tr>
                        <td>Total des téléchargements</td>
                        <td><span id="downloadCount">100</span></td>
                        </tr>
                        <tr>
                        <td>Ressources archivées</td>
                        <td><span id="archiveCount">8</span></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
            
            <div id="favorites" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block mr-3">
                <!-- Aperçu de la ressource à gauche (visible uniquement sur les écrans larges) -->
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                <div class="d-flex justify-content-start align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35"  style="margin-right:15px" height="35" fill="currentColor" class="bi bi-bookmark-heart-fill text-danger" viewBox="0 0 16 16">
                    <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                    </svg>
                    <h3 class="mb-0">Ressources favorites</h3>
                </div>
                <div class="mt-3">
                    <!-- Liste des ressources favorites -->
                    <ul class="list-group">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/mp4.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 1 avec un titre très long qui sera coupé</p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/mp3.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 2 </p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/jpg.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 3 </p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li> <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/mp3.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 4 </p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </div>

            <div id="toConsult" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block mr-3">
                <!-- Aperçu de la ressource à gauche (visible uniquement sur les écrans larges) -->
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                <div class="d-flex justify-content-start align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35"  style="margin-right:15px" height="35" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098z"/>
                    </svg>
                    <h3 class="mb-0">Ressources a consulter</h3>
                </div>
                <div class="mt-3">
                    <!-- Liste des ressources favorites -->
                    <ul class="list-group">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/mp4.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 1 avec un titre très long qui sera coupé</p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/jpg.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 2 </p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/mp4.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 3 </p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li> <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/mp3.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 4 </p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
            
            <div id="myArticles" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <div class="d-flex justify-content-start align-items-center">      
                    <svg class="bi d-block mb-1"  style="margin-right:15px" width="24" height="24"><use xlink:href="#grid"/></svg>
                    <h3 class="mb-0">Mes articles</h3>
                </div>
                <div class="mt-3">
                    <!-- Liste des ressources favorites -->
                    <ul class="list-group">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/mp3.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 1 avec un titre très long qui sera coupé</p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/mp3.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 2 </p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/mp4.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 3 </p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li> <li class="list-group-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <!-- Ajustez la taille de l'image selon vos besoins -->
                            <img src="{{ asset('img/jpg.png') }}" class="img-fluid img-thumbnail " style="max-width: 35px;margin-right:10px" alt="Aperçu Ressource 1">
                        </div>
                        <div class="flex-grow-1">
                            <!-- Utilisez la classe text-truncate pour ajuster la taille de la police -->
                            <p class="mb-0 text-truncate" style="max-width: 224px;">Ressource 4 </p>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            <!-- Remplace le texte par une flèche -->
                            <svg class="bi" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                            </svg>
                        </a>
                        </div>
                    </li>
                    </ul>
                </div>
                </div>
            </div>                
            </div> 
        
        </div>
        </div>
        <div id="account" class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="d-flex justify-content-start align-items-center">   
                                <svg class="bi d-block mb-1" style="margin-right:15px" width="24" height="24">
                                    <use xlink:href="#people-circle" />
                                </svg>
                                <h3 class="mb-0">Mon Profil</h3>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="mb-2 d-flex align-items-center justify-content-between">
                            <div>
                                <strong>Nom:</strong> {{ user.nom }} {{ user.prenom }}
                            </div>
                        </div>
                    <div class="mb-2 d-flex align-items-center justify-content-between">
                    <div>
                        <strong>Email:</strong> {{ user.email }}
                    </div>
                </div>
                <div class="mb-2 d-flex align-items-center justify-content-between editable">
                    <div>
                        <strong>Date de création</strong> 20 janvier 2023, 15:30
                    </div>
                </div>
                <div class="mb-2 d-flex align-items-center editable">
                    <button type="button" class="btn btn-primary"><a href="{{ path('app_user_edit', {'id': user.id}) }}" class="style-none-white">Modifier</a></button>
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>

    </div>
</div>
        </div>
        </div>
        </main>
{% endblock %}
